
.container-7{
  width: 80%;
  max-width: 815px;
  margin:auto ;
  padding-bottom: 15px;
  position: relative;


  .slick__item{

    padding-top: 124px;
    margin-bottom: 155px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;

    @include s(p1){
      font-weight: 300;
      line-height: rem(32px);
      margin-top: rem(20px);
      margin-bottom: rem(25px);
      font-family: $fontFamilySecondHeader;
    }
    @include s(p2){
      margin-bottom: 3px;
      text-transform: uppercase;
      font-family: $fontFamilyHeader;
    }
    @include s(p3){
      color: $blue;
      font-size: rem(13px);
      letter-spacing: normal;
      line-height: rem(24px);
      font-weight: 300;
      font-family: $fontFamilyContent;
    }

    @include s(img){
      margin: auto;
      border: 1px solid transparent;
      border-radius: 50%;
      height: 120px;
      width: 120px;
    }
  }

  .slick-box {
    position: relative;
  }
}
.my-dots {
  position: absolute;
  bottom: 65px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 3px;
  height: 3px;
  padding: 2.5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
}

.my-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 3px;
  content: url(#{$i}point.svg);
  text-align: center;
  opacity: .3;

  color: $white;

}
.my-dots li.slick-active button:before {

  border-radius: 50%;
  background: $black;
  opacity: .65;
  color: $black;
}
/* Slider */
.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

