.container-8{
  max-width: 1150px;
  margin: auto;
  color: $header;
  text-align: center;
  padding-bottom: 155px;

  @include e(header){
    font-size: rem(36px);
    font-family: $fontFamilyHeader;
    font-weight: 500;
    padding: 40px 0 15px 0;
  }

  @include e(content){
    font-size: rem(18px);
    font-family: $fontFamilySecondHeader;
    font-weight: 300;
    padding-bottom: 100px;
  }
  .slick1__item{
    padding: 10px 10px 0 10px;

    @include s(img){
      max-width: 100%;
      width: 100%;
    }
    .slick1__item-ul{
      display: flex;
      justify-content: center;
      padding-bottom: 20px;

      .social__link{
        margin:10px   12px 0 12px;
        flex-basis: 20px;
        height: 20px;
        width: 16px;
        background-image: url(#{$i}sprite.svg);
        background-repeat: no-repeat;
        background-size: cover;
        text-indent: -9999px;

        @include m(ut){
        background-position: 0 0;
      }
      @include m(tw){
        background-position: 0 -80px;
      }
      @include m(fb){
        background-position: 0 -40px;
      }
      }
    }
    @include s(caption){
      background: $darkBackground;
      color: $white;

      @include s(title){
        padding-top: 10px;
        font-size: rem(18px);
        font-weight: normal;
        font-family: $fontFamilyHeader;
        padding-bottom: 10px;

      }
      @include s(content){
        font-size: rem(15px);
        font-weight: 300;
        font-family: $fontFamilyContent;
        padding-bottom: 5px;
      }
    }
    @include s(ul){
      list-style: none;
    }
    @include s(li){
      display: inline-block;
      margin: 10px;
      a{
        outline:none !important;
      }
      img{
        width: 20px;
        height: 20px;
        outline: none!important;

      }
    }
  }
  .slick-box {
    position: relative;
  }
}
.my-dots1 {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.my-dots1 li {
  position: relative;
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}

.my-dots1 li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 3px;
  height: 3px;
  padding: 2.5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.my-dots1 li button:hover,
.my-dots1 li button:focus {
  outline: none;
}

.my-dots1 li button:hover:before,
.my-dots1 li button:focus:before {
  opacity: 1;
}

.my-dots1 li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 3px;
  content: url(#{$i}point1.svg);
  text-align: center;
  opacity: .3;

  color: $black;

}
.my-dots1 li.slick-active button:before {

  border-radius: 50%;
  background: $black;
  opacity: .65;
  color: $black;
}
