<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<section class="container-fluid_container-1">
    <div class="container-1">
        <header class="navbar">
            <a href="index.html" class="logo">
                <img src="i/logo-black.png" alt="Beetroot">
            </a>

            <nav class="menu">
                <ul>
                    <li><a href="#we">We Are</a></li>
                    <li><a href="#works">Our works</a></li>
                    <li><a href="#about">about us</a></li>
                    <li><a href="#team">Our Team</a></li>
                    <li><a href="#work">WORK WITH US</a></li>
                </ul>
            </nav>


            <div class="menu-button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </header>

        <div class="mobile-menu-container">
            <nav>
                <ul>
                    <li><a href="#we">We Are</a></li>
                    <li><a href="#works">Our works</a></li>
                    <li><a href="#about">about us</a></li>
                    <li><a href="#team">Our Team</a></li>
                    <li><a href="#work">WORK WITH US</a></li>
                </ul>
            </nav>
        </div>
        <div class="slick-box">
            <div class="slick2">
                <div class="slick2__item slick2__item_slide1">
                    <p class="slick2__item-p1">We are</p>
                    <p class="slick2__item-p2">Creative Agency</p>
                    <p class="slick2__item-p3">Outstanding Digital Experience</p>
                    <a class="slick2__item-a" href="#work">work with us</a>
            </div>
                <div class="slick2__item slick2__item_slide2">
                    <p class="slick2__item-p1">We are</p>
                    <p class="slick2__item-p2">Design Ideas</p>
                    <p class="slick2__item-p3">We've got Queensland Covered </p>
                    <a class="slick2__item-a" href="#work">work with us</a>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="we"  class="container-fluid_container-2">
    <div class="container-2">
        <article class="container-2__block1">
            <p class="container-2__block1-header">We Are Aplha Dot</p>
            <p class="container-2__block1-second-header">Devoted to Design Agency Excellence</p>
            <p class="container-2__block1-content">Objectively innovate empowered manufactured products whereas parallel
                platforms. Holisticly predominate
                extensible testing procedures for reliable supply chains. Dramatically engage top-line web services
                vis-a-vis
                cutting-edge deliverables.</p>
        </article>
        <section class="container-2__block2">
            <article class="container-2__block2-flex">
                <p class="container-2__block2-flex-second-header">Creative</p>
                <p class="container-2__block2-flex-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce
                    efficitur congue erat ac molestie.</p>
                <img class="container-2__block2-flex-img" src="i/image10.svg" alt="anchor">
            </article>
            <article class="container-2__block2-flex">
                <p class="container-2__block2-flex-second-header">Multiple Demos</p>
                <p class="container-2__block2-flex-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce
                    efficitur congue erat ac molestie.</p>
                <img class="container-2__block2-flex-img" src="i/image11.svg" alt="finger">
            </article>
            <article class="container-2__block2-flex">
                <p class="container-2__block2-flex-second-header">100 Free Icons</p>
                <p class="container-2__block2-flex-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce
                    efficitur congue erat ac molestie.</p>
                <img class="container-2__block2-flex-img" src="i/image12.svg" alt="apple">
            </article>
            <article class="container-2__block2-flex">
                <p class="container-2__block2-flex-second-header">Clean Design</p>
                <p class="container-2__block2-flex-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce
                    efficitur congue erat ac molestie.</p>
                <img class="container-2__block2-flex-img" src="i/image23.svg" alt="anchor">
            </article>
            <article class="container-2__block2-flex">
                <p class="container-2__block2-flex-second-header">Projects Won</p>
                <p class="container-2__block2-flex-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce
                    efficitur congue erat ac molestie.</p>
                <img class="container-2__block2-flex-img" src="i/image24.svg" alt="anchor">
            </article>
            <article class="container-2__block2-flex">
                <p class="container-2__block2-flex-second-header">Happy Clients</p>
                <p class="container-2__block2-flex-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce
                    efficitur congue erat ac molestie.</p>
                <img class="container-2__block2-flex-img" src="i/image25.svg" alt="anchor">
            </article>
        </section>
    </div>
</section>
<section id="works"  class="container-fluid_container-3">
    <div  class="container-3__nav">
        <button  class="container-3__nav-item active" data-filter="photo">All</button>
        <button class="container-3__nav-item" data-filter="Design">Design</button>
        <button class="container-3__nav-item" data-filter="web">Web</button>
        <button class="container-3__nav-item" data-filter="branding">Branding</button>
        <button class="container-3__nav-item" data-filter="print">print</button>

    </div>
    <div class="gallery">
        <article class="photo branding print">
            <a class="fancybox1" href="i/L1.jpg" data-fancybox="gallery" data-caption="" rel="gallery1">
                <img class="photo__img" src="i/1.jpg" alt=""/>
            </a>
        </article> <!-- /.photo -->
        <article class="photo web print">
            <a class="fancybox1" href="i/L2.jpg" data-fancybox="gallery" data-caption="" rel="gallery1">
                <figure>
                    <img class="photo__img" src="i/2.jpg">
                </figure>
            </a>
        </article> <!-- /.photo -->
        <article class="photo branding">
            <a class="fancybox1" href="i/L3.jpg" data-fancybox="gallery" data-caption="" rel="gallery1">
                <figure>
                    <img class="photo__img" src="i/3.jpg">
                </figure>
            </a>
        </article> <!-- /.photo -->
        <article class="photo Design print">
            <a class="fancybox1" href="i/L4.jpg" data-fancybox="gallery" data-caption="" rel="gallery1">
                <figure>
                    <img class="photo__img" src="i/4.jpg">
                </figure>
            </a>
        </article> <!-- /.photo -->
        <article class="photo web print">
            <a class="fancybox1" href="i/L7.jpg" data-fancybox="gallery" data-caption="" rel="gallery1">
                <figure>
                    <img class="photo__img" src="i/5.jpg">
                </figure>
            </a>
        </article> <!-- /.photo -->
        <article class="photo Design">
            <a class="fancybox1" href="i/L6.jpg" data-fancybox="gallery" data-caption="" rel="gallery1">
                <figure>
                    <img class="photo__img" src="i/6.jpg">
                </figure>
            </a>
        </article>

    </div> <!-- /.gallery -->
</section>
<section class="container-fluid_container-4">
    <div class="container-4">
        <div class="container-4__flex">
            <p class="container-4__flex-numbers">8400</p>
            <p class="container-4__flex-content">Working Hours</p>
            <img class="container-4__flex-img" src="i/image13.svg" alt="skull">
        </div>
        <div class="container-4__flex">
            <p class="container-4__flex-numbers">150</p>
            <p class="container-4__flex-content">Happy Clients</p>
            <img class="container-4__flex-img" src="i/image14.svg" alt="diamond">
        </div>
        <div class="container-4__flex">
            <p class="container-4__flex-numbers">108</p>
            <p class="container-4__flex-content">Awwwards</p>
            <img class="container-4__flex-img" src="i/image15.svg" alt="chip">
        </div>
        <div class="container-4__flex">
            <p class="container-4__flex-numbers">650</p>
            <p class="container-4__flex-content">Projects Won</p>
            <img class="container-4__flex-img" src="i/image16.svg" alt="tags">
        </div>
    </div>
</section>
<section id="about" class="container-fluid_container-5">
    <div class="container-5">
        <div class="container-5__block1">
            <p class="container-5__block1-header">About Us
            </p>
            <p class="container-5__block1-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac
                vulputate dolor. Nullam venenatis enim in quam euismod fringilla. Donec in risus eget purus mattis
                varius. Nulla dapibus quis orci et tincidunt. Phasellus in rhoncus quam. Fusce a est lacinia, ultricies
                mi nec, rutrum dolor.
            </p>
            <p class="container-5__block1-content2">
                Donec vehicula cursus metus viverra aliquet. Nam vel malesuada diam. Proin eleifend luctus mi, vel
                tincidunt sapien auctor nec. In quis elit in mauris dignissim pharetra. Praesent efficitur dolor a quam
                tristique ultricies.
            </p>


        </div>
        <aside class="myvideo">
            <iframe class="container-5__video" src="https://player.vimeo.com/video/169850570" width="560" height="315"
                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </aside>
    </div>
</section>
<section  class="container-fluid_container-7">
    <div class="container-7">
        <div class="slick-box">
            <div class="slick">
                <article class="slick__item">
                    <img class="slick__item-img" src="i/avatar-1.jpg" alt="">
                    <p class="slick__item-p1">Jazz’s has an entire page dedicated to why customers have chosen them.
                        It’s clean
                        and simple, featuring customers reviews in a “spotlight” format.</p>
                    <p class="slick__item-p2">Jazz Smith</p>
                    <p class="slick__item-p3">Web Designer</p>
                </article>
                <article class="slick__item">
                    <img class="slick__item-img" src="i/avatar-2.jpg" alt="">
                    <p class="slick__item-p1">Friendly, Helpful and treated us like top customers. Thank you Doteasy! We
                        have
                        hosted through Doteasy for years, and this type of customer service is part of what will keep us
                        here.</p>
                    <p class="slick__item-p2">Shawn Smith</p>
                    <p class="slick__item-p3">Art Direction </p>
                </article>
                <article class="slick__item">
                    <img class="slick__item-img" src="i/avatar-3.jpg" alt="">
                    <p class="slick__item-p1">Everything I had asked for and more in my web site, and much help from
                        Customer
                        Service. My husband and I greatly appreciated Ken's service to us. Thank you very much.</p>
                    <p class="slick__item-p2">Susan Smith</p>
                    <p class="slick__item-p3">App Developer </p>
                </article>
            </div>
            <div class="my-dots"></div>
        </div>
    </div>
</section>
<section id="team" class="container-fluid_container-8">
    <div class="container-8">
        <h2 class="container-8__header">Our Team</h2>
        <p class="container-8__content">You may be strong but we are stronger</p>
        <div class="slick-box">
            <div class="slick1">
                <article class="slick1__item">
                    <figure>
                        <img class="slick1__item-img" src="i/team-01.jpg" alt="">
                        <figcaption class="slick1__item-caption">
                            <h3 class="slick1__item-caption-title">Tyson Marks</h3>
                            <p class="slick1__item-caption-content">UI/UX Designer</p>
                            <div class="slick1__item-ul">
                                 <a class="social__link social__link_ut" href="#">Yuotube</a>
                                <a class="social__link social__link_tw" href="#">Twitter</a>
                                <a class="social__link social__link_fb" href="#">Facebook</a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="slick1__item">
                    <figure>
                        <img class="slick1__item-img" src="i/team-02.jpg" alt="">
                        <figcaption class="slick1__item-caption">
                            <h3 class="slick1__item-caption-title">Daria Aliyeva</h3>
                            <p class="slick1__item-caption-content">Photographerr</p>
                            <div class="slick1__item-ul">
                                <a class="social__link social__link_ut" href="#">Yuotube</a>
                                <a class="social__link social__link_tw" href="#">Twitter</a>
                                <a class="social__link social__link_fb" href="#">Facebook</a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="slick1__item">
                    <figure>
                        <img class="slick1__item-img" src="i/team-03.jpg" alt="">
                        <figcaption class="slick1__item-caption">
                            <h3 class="slick1__item-caption-title">John Marconi</h3>
                            <p class="slick1__item-caption-content">Web Developer</p>
                            <div class="slick1__item-ul">
                                <a class="social__link social__link_ut" href="#">Yuotube</a>
                                <a class="social__link social__link_tw" href="#">Twitter</a>
                                <a class="social__link social__link_fb" href="#">Facebook</a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="slick1__item">
                    <figure>
                        <img class="slick1__item-img" src="i/team-04.jpg" alt="">
                        <figcaption class="slick1__item-caption">
                            <h3 class="slick1__item-caption-title">Chris Ogren</h3>
                            <p class="slick1__item-caption-content">CEO/Founder</p>
                            <div class="slick1__item-ul">
                                <a class="social__link social__link_ut" href="#">Yuotube</a>
                                <a class="social__link social__link_tw" href="#">Twitter</a>
                                <a class="social__link social__link_fb" href="#">Facebook</a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="slick1__item">
                    <figure>
                        <img class="slick1__item-img" src="i/team-05.jpg" alt="">
                        <figcaption class="slick1__item-caption">
                            <h3 class="slick1__item-caption-title">Marie Smith</h3>
                            <p class="slick1__item-caption-content">Graphic Designer</p>
                            <div class="slick1__item-ul">
                                <a class="social__link social__link_ut" href="#">Yuotube</a>
                                <a class="social__link social__link_tw" href="#">Twitter</a>
                                <a class="social__link social__link_fb" href="#">Facebook</a>
                            </div>
                        </figcaption>
                    </figure>
                </article>

            </div>
            <div class="my-dots1"></div>
        </div>
    </div>
</section>
<section id="work" class="container-fluid_container-10">
    <p class="container-10__header">WORK WITH US</p>
    <div id="app" class="container">
        <div class="row">
            <form >
                <div class="form-group">
                    <label>Name <span v-if="noValidName" class="valid-msg hide">Enter correct name</span></label>
                    <input v-model="name" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>Email <span v-if="noValidEmail" class="valid-msg hide">Enter correct email</span></label>
                    <input v-model="email" type="email" class="form-control">

                </div>
                <div v-if="showBtn" class="form-group">
                    <input @click="handleSubmit" type="submit" name="send" value="Submit"
                           class="btn btn-primary">
                </div>

            </form>

        </div> <!-- /.row-->
    </div><!--  /.container  -->
</section>
<section  class="container-fluid_container-9">
    <div class="container-9">
        <div class="container-9__flex">
            <section class="container-9__flex-block1">
                <p class="container-9__flex-block-header">
                    ABOUT US
                    <span class="container-9__flex-block-span"></span>

                </p>
                <p class="container-9__flex-block-content container-9__flex-block-content_block1">
                    Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly
                    predominate extensible testing procedures for reliable supply chains. Dramatically engage
                    top-line
                    web services vis-a-vis cutting-edge deliverables.
                </p>
            </section>
            <section class="container-9__flex-block2">
                <p class="container-9__flex-block-header ">
                    WORK WITH US
                    <span class="container-9__flex-block-span"></span>
                </p>
                <a href="#" class="container-9__flex-block-content">
                    Themeforest
                </a>
                <a href="#" class="container-9__flex-block-content">
                    Audio Jungle
                </a>
                <a href="#" class="container-9__flex-block-content">
                    Code Canyon
                </a>
                <a href="#" class="container-9__flex-block-content">
                    Video Hive
                </a>
                <a href="#" class="container-9__flex-block-content">
                    Envato Market
                </a>
            </section>
            <section class="container-9__flex-block3">
                <p class="container-9__flex-block-header">
                    USEFUL LINKS
                    <span class="container-9__flex-block-span"></span>
                </p>
                <a href="#" class="container-9__flex-block-content">
                    About Us
                </a>
                <a href="#" class="container-9__flex-block-content">
                    Contact Us
                </a>
                <a href="#" class="container-9__flex-block-content">
                    Our Services
                </a>
                <a href="#" class="container-9__flex-block-content">
                    Terms & Conditions
                </a>
                <a href="#" class="container-9__flex-block-content">
                    Careera
                </a>
            </section>
            <section class="container-9__flex-block4">
                <p class="container-9__flex-block-header ">
                    GALLERY
                    <span class="container-9__flex-block-span"></span>
                </p>
                <div class="container-9__gallery">

                    <a href="i/01-lg.jpg" data-fancybox="images-single" data-caption="" rel="gallery2" class="fancybox">
                        <figure>
                            <img class="container-9__img" src="i/01.jpg" alt=""/>
                        </figure>
                    </a>
                    <a href="i/02-lg.jpg" data-fancybox="images-single" data-caption="" rel="gallery2" class="fancybox">
                        <figure>
                            <img class="container-9__img" src="i/02.jpg">
                        </figure>
                    </a>
                    <a href="i/03-lg.jpg" data-fancybox="images-single" data-caption="" rel="gallery2" class="fancybox">
                        <figure>
                            <img class="container-9__img" src="i/03.jpg">
                        </figure>
                    </a>

                    <a href="i/04-lg.jpg" data-fancybox="images-single" data-caption="" rel="gallery2" class="fancybox">
                        <figure>
                            <img class="container-9__img" src="i/04.jpg">
                        </figure>
                    </a>

                    <a href="i/05-lg.jpg" data-fancybox="images-single" data-caption="" rel="gallery2" class="fancybox">
                        <figure>
                            <img class="container-9__img" src="i/05.jpg">
                        </figure>
                    </a>

                    <a href="i/06-lg.jpg" data-fancybox="images-single" data-caption="" rel="gallery2" class="fancybox">
                        <figure>
                            <img class="container-9__img" src="i/06.jpg">
                        </figure>
                    </a>
                    <a href="i/07-lg.jpg" data-fancybox="images-single" data-caption="" rel="gallery2" class="fancybox">
                        <figure>
                            <img class="container-9__img" src="i/07.jpg">
                        </figure>
                    </a>
                    <a href="i/08-lg.jpg" data-fancybox="images-single" data-caption="" rel="gallery2" class="fancybox">
                        <figure>
                            <img class="container-9__img" src="i/08.jpg">
                        </figure>
                    </a>
                </div> <!-- /.gallery -->
            </section>
        </div>
    </div>
</section>

<footer>
    <div class="footer__content">
        <p class="footer__text">© 2019 Alpha Dot. All rights reserved</p>
        <aside class="social">
            <a class="social__link social__link_fb" href="#">Facebook</a>
            <a class="social__link social__link_tw" href="#">Twitter</a>
            <a class="social__link social__link_pi" href="#">Linkedin</a>
            <a class="social__link social__link_inst" href="#">Vimeo</a>
            <a class="social__link social__link_in" href="#">Behance</a>
        </aside>
    </div>
</footer>
<div id="toTop"> ↑</div>
<!--  JavaScript here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>